* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    padding: 10px 0;
    background-color: rgb(77, 229, 240);
    border-radius: 20px;
    width: 90%;
}

#welcomeScreen {
    display: flex;
    text-align: center;
}

#introTitle {
    margin: 0 10px;
    font-size: 2rem;
}

#rules{
    margin: 10px;
    font-size: 1.25rem;
}

.button{
    margin: 25px;
    transform: scale(2);
    background-color: blue;
    color: white;
    opacity: 0.6;
    border-radius: 20px;
    padding: 2px;
}

.button:hover {
    opacity: 1;
}

#quiz {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 10px;
}

#answers {
    list-style-type: none;
}

.answerButtons {
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

#timer {
    position: absolute;
    bottom: 25px;
    border-radius: 10px;
    background-color: rgb(77, 229, 240);
    padding: 5px;
}

#timeLeft {
    font-size: 1.5rem;
}

#results {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highscoresEl {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25px;
    padding: 25px 0;
    font-family: 'VT323', monospace;
    border: 5px solid blue;
    animation: borderColorChange 5s infinite;
}

@keyframes borderColorChange {
    0% {border-color: blue;}
    33% {border-color: red;}
    66% {border-color: green;}
    100% {border-color: blue;}
}

#highscoresEl h1 {
    margin: 10px 0;
    font-size: 2rem;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {color: blue;}
    33% {color: red;}
    66% {color: green;}
    100% {color: blue;}
}

#highscores li {
    margin: 5px 0;
    font-size: 1.5rem;
}

#HSButton {
    position: absolute;
    width: 90%;
    top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: rgb(77, 229, 240);
    border-radius: 20px;
}

#HSButton h3{
    color: blue;
}

@media screen and (min-width:415px) {

* {
    font-size: 30px;
}

}

@media screen and (min-width:700px) {

* {
    font-size: 35px;
}

}

@media screen and (min-width:1000px) {

.playArea {
    margin-top: 125px;
}

}